<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>

    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>

    <!--<style>-->
    <!--table {-->
    <!--font-family: arial, sans-serif;-->
    <!--border-collapse: collapse;-->
    <!--width: 100%;-->
    <!--}-->

    <!--td, th {-->
    <!--border: 1px solid #dddddd;-->
    <!--text-align: left;-->
    <!--padding: 8px;-->
    <!--}-->

    <!--/*tr:nth-child(even) {*/-->
    <!--/*background-color: #dddddd;*/-->
    <!--/*}*/-->
    <!--</style>-->
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-sm-6" style="min-height: 120px"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form action="/add" method="post">
                <div class="form-group">
                    <label for="categorySelector">Wybierz kategorię</label>
                    <select class="form-control" id="categorySelector" name="category">
                        <option th:each="category : ${categories}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="producerSelector">Wybierz producenta</label>
                    <select class="form-control" id="producerSelector" name="producer">
                        <option th:each="producer : ${producers}" th:text="${producer.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="productField">Wpisz nazwę produktu</label>
                    <textarea class="form-control" id="productField" rows="1" name="name"></textarea>
                </div>

                <div class="form-group">
                    <label for="descriptionField">Opisz produkt</label>
                    <textarea class="form-control" id="descriptionField" rows="2" name="description"></textarea>
                </div>

                <div class="form-group">
                    <label for="piecesField">Ilość sztuk na magazynie</label>
                    <input type="number" class="form-control" id="piecesField" rows="1" name="pieces">
                </div>

                <div class="form-group">
                    <label for="price">Cena za sztukę</label>
                    <input type="text" class="form-control" id="price" rows="1" name="price">
                </div>

                <div class="form-group">
                    <label for="serialNo">Numer serynjy produktu lub kod</label>
                    <input type="text" class="form-control" id="serialNo" rows="1" name="serialNo">
                </div>

                <div class="form-group">
                    <label for="picture">Link do zdjęcia produktu</label>
                    <input type="text" class="form-control" id="picture" rows="1" name="picture">
                </div>

                <label>Czy w promocji?</label>
                <div class="group">
                    <label class="form-check-label" for="gridCheck1"> tak </label>
                    <input type="radio" id="gridCheck1" name="promotion" value="true">
                </div>

                <div class="group">
                    <label class="form-check-label" for="gridCheck2"> nie </label>
                    <input type="radio" id="gridCheck2" name="promotion" value="false" checked>
                </div>

                <button type="submit" class="btn btn-primary">dodaj produkt</button>
                <!--<a href="/products">cofnij do listy produktów</a>-->

                <button type="submit" class="btn btn-default" form="prod">wróć</button>

                <!--<div class="form-group">-->
                <!--<label for="exampleFormControlTextarea1">Example textarea</label>-->
                <!--<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
                <!--</div>-->
            </form>

            <!--tylko po to by obsluzyc przycis powrotu do listy produktów-->
            <form action="/products" method="get" id="prod"></form>


        </div>
    </div>


</div>


</body>
</html>