<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>

    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        /*tr:nth-child(even) {*/
        /*background-color: #dddddd;*/
        /*}*/
    </style>
</head>

<body>

<div class="container">
    <div class="col-lg-6">

        <table>

            <tr>
                <th>name</th>
                <th>description</th>
            </tr>
            <tr th:each="c : ${categories}">
                <td><a href="#" th:text="${c.name}"></a></td>
                <td><a href="#" th:text="${c.description}"></a></td>
                <!--<td><a href="/products" th:text="${c.products}"></a></td>-->
                <br>
            </tr>

            <p>Kategorie</p>
            <a href="/products"><< back to product list</a>
        </table>
    </div>
</div>

</body>
</html>