<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>

    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>


    <style>


        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;

        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            text-wrap: normal;

        }

        /*tr:nth-child(even) {*/
        /*background-color: #dddddd;*/
        /*}*/
    </style>


</head>

<body>

<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <table>
                <tr>
                    <th>name</th>
                    <th>description</th>
                    <th><a href="/categories">categories</a></th>
                    <th>pieces</th>
                    <th><a href="/producers">producer</a></th>
                    <th>price</th>
                    <th>promotion</th>
                    <th>serial no.</th>
                    <th>picture</th>

                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.categories}"></td>
                    <td th:text="${product.pieces}"></td>
                    <td th:text="${product.producer}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.promotion}"></td>
                    <td th:text="${product.serialNo}"></td>
                    <!--<td><a href="#" th:text="${product.picture}"></a></td>-->
                    <td><img th:src="${product.picture}"/></td>
                    <!--<td><img th:attr="src=${product.picture}"/></td>-->

                    <td>
                        <!--do nadawania nazw formularzy aby kazdy przycisk kasowal dany produkt-->
                        <form action="/delete" method="post" th:id="${product.serialNo}">
                            <input type="hidden" name="del" th:value="${product.serialNo}">
                        </form>
                        <button type="submit" th:form="${product.serialNo}" class="btn btn-danger">delete</button>
                    </td>

                    <td>
                        <form action="/update-form" method="get" th:id="${product.serialNo} + update">
                            <input type="hidden" name="serialNo" th:value="${product.serialNo}">
                            <input type="hidden" name="description" th:value="${product.description}">
                            <input type="hidden" name="name" th:value="${product.name}">
                            <input type="hidden" name="price" th:value="${product.price}">
                            <input type="hidden" name="pieces" th:value="${product.pieces}">
                            <input type="hidden" name="promotion" th:value="${product.promotion}">
                            <input type="hidden" name="picture" th:value="${product.picture}">
                        </form>
                        <button type="submit" th:form="${product.serialNo} + update" class="btn btn-success">update
                        </button>
                    </td>

                    <br>
                </tr>


                <!--PRZYCISKI-->

                <form action="/add-form" method="get" id="update"></form>
                <button type="submit" form="update" class="btn btn-default">dodaj nowy produkt</button>


                <form action="/categories" method="get" id="category"></form>
                <button type="submit" form="category" class="btn btn-default">przejdz do kategorii</button>


                <form action="/producers" method="get" id="producer"></form>
                <button type="submit" form="producer" class="btn btn-default">przejdź do producentów</button>

                <form action="/logout" method="get" id="logout"></form>
                <button type="submit" form="logout" class="btn btn-default">wyloguj</button>

                <form action="/" method="get" id="menu"></form>
                <button type="submit" form="menu" style="float: left" class="btn btn-default">menu główne</button>


            </table>
        </div>

    </div>

</div>


</body>
</html>