<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        /*tr:nth-child(even) {*/
        /*background-color: #dddddd;*/
        /*}*/
    </style>
</head>

<body>

<div class="container">
    <table>

        <tr>
            <th>name</th>
            <th>description</th>
            <th>categories</th>
            <th>pieces</th>
            <th>producer</th>
            <th>price</th>
            <th>promotion</th>

        </tr>
        <tr th:each="product : ${products}">
            <td><a href="#" th:text="${product.name}"></a></td>
            <td><a href="#" th:text="${product.description}"></a></td>
            <td><a href="/categories" th:text="${product.categories}"></a></td>
            <td><a href="#" th:text="${product.pieces}"></a></td>
            <td><a href="/producers" th:text="${product.producer}"></a></td>
            <td><a href="#" th:text="${product.price}"></a></td>
            <td><a href="#" th:text="${product.promotion}"></a></td>
            <td>
                <form action="#" th:action="@{/delete}" th:object="${products}" method="get" id="deleteform">
                    <input type="hidden" name="delete">
                </form>
                <button type="submit" form="deleteform">delete</button>
            </td>

            <td>
                <button>update</button>
            </td>

            <br>
        </tr>
        <a href="/add">dodaj nowy produkt >></a>
    </table>
</div>


</body>
</html>